body, html {
    font-family: "Arial", sans-serif;
    transition: margin-left .5s;
    margin: 0;
    height: 100%;
    text-align: center; /* Centraliza o texto */
    
}

h1 {
  font-size: 2em; /* Tamanho da fonte */
  margin-top: 50px; /* Espaçamento superior */
  color: #000; /* Cor do texto do título */
  
}

h1 span {
  display: block;
  font-size: 0.5em; /* Tamanho da fonte para o subtítulo */
  margin-top: 20px; /* Espaçamento superior para o subtítulo */
}

.about-me {
  text-align: center;
  margin: 50px 0;
}

.about-me h2 {
  font-size: 2rem;
  color: #000;
  margin-bottom: 15px;
}

.about-me p {
  font-size: 1rem;
  color: #000;
  line-height: 1.6;
  margin-bottom: 15px;
}


.tech-header {
  font-size: 1.75rem;
  text-align: center;
  margin: 40px 0 10px 0;
  color: #000; /* ou qualquer cor que combine com o seu esquema de design */
}

.tech-intro {
  font-size: 1rem;
  text-align: center;
  margin-bottom: 20px;
  color: #555555; /* uma cor um pouco mais suave que a do cabeçalho para contraste */
}

.overlay {
    position: fixed;
    top: 0;
    right: 0; bottom: 0; left: 0;
    background: rgba(0, 0, 0, 0.4); /* corrigido o uso de rgba */
    z-index: 2;
    display: none;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 200;
    top: 0;
    right: 0;  /* Alterado para right */
    background-color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 5px 0 15px rgba(0, 0, 0, 0.5);  /* Alterado a direção da sombra */
}

.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 25px;
    color: #000;
    display: block;
    transition: 0.3s;
}

.sidebar a:hover {
    color: #666;
}

.sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    color: #000;
    font-size: 36px;
    margin-left: 50px;
}


#main {
    transition: margin-left .5s;
    padding: 20px;
}


.container {
    max-width: 1300px; /* Ou qualquer outro valor que você achar adequado */
    margin: 0 auto;    /* Centraliza o container */
    padding: 0 20px;   
    text-align: center;
}

/***/s

.navbar {
    height: 80px;  /* Adicionei 20px de altura adicional para acomodar o padding */
    width: 100%;
    box-sizing: border-box;  /* Adiciona box-sizing */
    padding: 20px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    width: calc(100% - 20px);  /* Subtrai o padding de ambos os lados */
    box-sizing: border-box;  /* Adiciona box-sizing */
}

.navbar__logo {
    color: #000;
    text-decoration: none;
    font-weight: bold;
    font-size: 24px;
}

.navbar__menu {
    display: flex;
    gap: 20px; /* Espaço entre os links */
    
}

.navbar__menu a {
  position: relative;
  color: #000;
  text-decoration: none;
  transition: color 0.3s;
  font-size: 20px;
}

.navbar__menu a:hover {
  color: #ccc;
}

.navbar__menu a::after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: -5px; /* Ajuste conforme necessário para a posição da linha */
  left: 0;
  background-color: #000; /* Cor da linha */
  transform-origin: bottom left;
  transition: transform 0.3s ease-out;
}

.navbar__menu a:hover::after {
  transform: scaleX(1);
}


.nav__toggle {
    cursor: pointer;
    display: none;
    font-size: 24px; /* Ajuste esse valor para o tamanho desejado */
    padding: 10px;
}

/* Code gerado */

.container-code{
  display: flex;
  justify-content: center; /* Espaço entre os elementos */
  align-items: start; /* Alinhar ao topo */
  flex-wrap: wrap; /* Permite que os itens se ajustem conforme o tamanho da tela */
  max-width: 1200px;
  margin: 0 auto;
}

.left-content{
  max-width: 500px;
  text-align: left;
  margin-right: auto;
  margin-left: auto;
}


.code-title {
  color: #000; /* Cor do texto */
  font-family: 'Arial', sans-serif; /* Fonte do título */
  margin-bottom: 10px; /* Espaço abaixo do título */
  font-size: 18px; /* Tamanho da fonte */
  font-weight: bold;
  text-align: center; /* Alinhamento do texto */
  padding: 5px;
}


.code-container {
  background-color: #282a36; /* Cor de fundo escura */
  color: #f8f8f2; /* Cor do texto claro */
  font-family: 'Courier New', monospace; /* Fonte de estilo de código */
  padding: 20px; /* Espaçamento interno */
  border-radius: 10px; /* Bordas arredondadas */
  margin: 20px auto; /* Espaço acima do container */
  overflow: hidden; /* Esconde o overflow */
  width: 100%; /* Largura total */
  max-width: 600px; /* Largura máxima */
  text-align: left;
  border-left: 5px solid #007bff;
  height: 300px;
}

#code {
  white-space: pre; /* Mantém a formatação do espaço em branco */
  overflow-x: auto; /* Adiciona rolagem horizontal se necessário */
}

pre {
  white-space: pre-wrap; /* Mantém a formatação do espaço */
  word-wrap: break-word; /* Quebra as palavras corretamente */
}

@media screen and (max-width: 1168px) {
  .left-content,
  .code-container {
      max-width: 100%; /* Ocupa toda a largura em telas menores */
      margin: 0; /* Remove margens em telas menores */
  }

  .left-content p {
      display: none; /* Esconde o parágrafo em telas menores */
  }
}


/* Fim code gerado */

.marquee {
    overflow: hidden;
    white-space: nowrap; /* Evita que as palavras quebrem em duas linhas */
    width: 100%;
    position: relative;
}

.marquee-content {
    display: inline-block;
    animation: scrollLeft 10s linear infinite; 
}

.marquee-content span {
    padding: 10px 30px; /* Ajuste o padding conforme necessário */
    display: inline-flex; /* Alterado de inline-block para inline-flex para acomodar o círculo */
    align-items: center; /* Alinhe os itens no centro verticalmente */
    border: 2px solid #000; 
    margin: 0 10px;
    border-radius: 15px;
}

.circle {
    display: inline-block !important;
    width: 0.5px !important; /* Tamanho do círculo */
    height: 0.5px !important;
    border-radius: 50% !important; /* Faz o círculo arredondado */
    margin-right: 5px !important; /* Espaço entre o círculo e o texto */
    vertical-align: middle;
    border: none !important;
    text-align: center !important;
}

.circle-right {
  display: inline-block !important;
  width: 2px !important; /* Tamanho do círculo */
  height: 2px !important;
  border-radius: 50% !important; /* Faz o círculo arredondado */
  margin-left: -15px !important; /* Espaço entre o círculo e o texto */
  vertical-align: middle;
  border: none !important;
}

.circle.red { background-color: #FF4136; } /* Vermelho */
.circle.blue { background-color: #0074D9; } /* Azul */
.circle.green { background-color: #2ECC40; } /* Verde */
.circle.yellow { background-color: #FFDC00; } /* Amarelo */
.circle.purple { background-color: #B10DC9; } /* Roxo */
.circle.orange { background-color: #FF851B; } /* Laranja, como alternativa ao rosa */
.circle.black { background-color: #111111; } /* Preto */
.circle.teal { background-color: #39CCCC; } /* Azul-esverdeado */
.circle.white {background-color: #f4f4f4;}



@keyframes scrollLeft {
    0% {
        transform: translateX(100%); /* Começa da direita */
    }
    100% {
        transform: translateX(-100%); /* Move completamente para a esquerda */
    }
}




@media screen and (max-width: 767px) {

    .navbar {
        position: relative; /* Posiciona o navbar de forma relativa */
    }
    .nav__toggle {
        display: block;
        position: absolute; /* Posiciona o elemento de forma absoluta */
        right: 15px; /* Posiciona o toggle 15px distante da borda direita. Ajuste conforme necessário */
        top: 50%;
        transform: translateY(-50%); 
    
    }

    .uil-bars {
        font-size: inherit; /* Garante que o ícone herde o tamanho da fonte do elemento pai */
    }

    .navbar__menu{
        display: none;
    }
}

/*
 CSS to toggle scroll axis styles index
*/

:root {
    --color-text: navy;
    --color-bg: papayawhip;
    --color-bg-accent: #ecdcc0;
    --size: clamp(1rem, 1rem + 20vmin, 20rem);
    --gap: calc(var(--size) / 20);
    --duration: 10s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
  }
  
  @media (prefers-color-scheme: dark) {
    :root {
      --color-text: papayawhip;
      --color-bg: navy;
      --color-bg-accent: #2626a0;
    }
  }
  
  * {
    box-sizing: border-box;
  }
  
  
  .marquee {
    display: flex;
    overflow: hidden;
    user-select: none;
    gap: var(--gap);
    mask-image: linear-gradient(
      var(--mask-direction, to right),
      hsl(0 0% 0% / 0),
      hsl(0 0% 0% / 1) 20%,
      hsl(0 0% 0% / 1) 80%,
      hsl(0 0% 0% / 0)
    );
  }

  /* ... (resto do seu CSS) ... */

    /* Modificado para aplicar estilo aos elementos span */
    .marquee span {
      display: inline-block;
      width: auto; /* Ajustado para auto */
      text-align: left;
      background: transparent; /* Remove o fundo */
      padding: calc(var(--size) / 15); /* Padding mantido */
      border: 2px solid #ccc; /* Borda mais grossa e azul */
      border-radius: 20px; /* Bordas mais arredondadas */
      color: #000;
      font-family: "Verdana", sans-serif;
      font-size: 16px; /* Tamanho de fonte mantido */
      margin: 0 var(--gap); /* Espaçamento horizontal mantido */
      font-weight: bold;
    }
    
  

  
  .marquee__group {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: var(--gap);
    min-width: 100%;
    animation: scroll-x var(--duration) linear infinite;
  }
  
  @media (prefers-reduced-motion: reduce) {
    .marquee__group {
      animation-play-state: paused;
    }
  }
  
  .marquee--vertical {
    --mask-direction: to bottom;
  }
  
  .marquee--vertical,
  .marquee--vertical .marquee__group {
    flex-direction: column;
  }
  
  .marquee--vertical .marquee__group {
    animation-name: scroll-y;
  }
  
  .marquee--reverse .marquee__group {
    animation-direction: reverse;
    animation-delay: -3s;
  }
  
  @keyframes scroll-x {
    from {
      transform: translateX(var(--scroll-start));
    }
    to {
      transform: translateX(var(--scroll-end));
    }
  }
  
  @keyframes scroll-y {
    from {
      transform: translateY(var(--scroll-start));
    }
    to {
      transform: translateY(var(--scroll-end));
    }
  }
  
  /* Element styles */
  .marquee svg {
    display: grid;
    place-items: center;
    width: var(--size);
    height: 60;
    fill: var(--color-text);
    background: var(--color-bg-accent);
    aspect-ratio: 16/9;
    padding: calc(var(--size) / 10);
    border-radius: 0.5rem;
  }
  
  .marquee--vertical svg {
    aspect-ratio: 1;
    width: calc(var(--size) / 1.5);
    padding: calc(var(--size) / 6);
  }
  
  /* Parent wrapper */
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    margin: auto;
    max-width: 100vw;
  }
  
  .wrapper--vertical {
    flex-direction: row;
    height: 100vh;
  }
  
  /* Toggle direction button */
  .toggle {
    --size: 3rem;
    position: relative;
    position: fixed;
    top: 1rem;
    left: 1rem;
    width: var(--size);
    height: var(--size);
    font: inherit;
    text-align: center;
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 50%;
    color: inherit;
    background-color: var(--color-bg-accent);
    z-index: 1;
  }
  
  .toggle:focus-visible {
    box-shadow: 0 0 0 2px var(--color-text);
  }
  
  .toggle span {
    position: absolute;
    display: inline-block;
    top: 50%;
    left: calc(100% + 0.4em);
    width: fit-content;
    white-space: nowrap;
    transform: translateY(-50%);
    animation: fade 400ms 4s ease-out forwards;
    user-select: none;
  }
  
  .toggle svg {
    --size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    width: var(--size);
    height: var(--size);
    fill: currentcolor;
    transform: translate(-50%, -50%);
    transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
  }
  
  .toggle--vertical svg {
    transform: translate(-50%, -50%) rotate(-90deg);
  }
  
  @keyframes fade {
    to {
      opacity: 0;
      visibility: hidden;
    }
  }

/* servicos */

#servicos{
  text-align: center;
  padding: 50px 0;
}

.servico-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.servico{
  width: 300px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.servico img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

.servico h3 {
  margin-top: 15px;
}

.servico p {
  text-align: left;
}



/* Link dos projetos */

.index-info-projeto{
  margin-bottom: 20px;
}

.index-info-projeto a {
  text-decoration: none; /* Remove o sublinhado do link */
  margin-right: 10px; /* Adiciona um espaçamento à direita dos ícones (ajuste conforme necessário) */
}

.index-info-projeto i {
  font-size: 24px; /* Aumenta o tamanho do ícone (ajuste conforme necessário) */
  color: black; /* Define a cor do ícone como preto */
  margin-bottom: 55px; /* Adiciona espaçamento na parte inferior do ícone (ajuste conforme necessário) */
}

/* Imagens dos projetos na index */
.p-projeto-card {
  display: flex; /* Habilita Flexbox */
  align-items: center; /* Centraliza itens verticalmente */
  justify-content: space-between; /* Espaço entre os itens */
  padding: 20px; /* Espaçamento interno */
  gap: 20px; /* Espaço entre os itens filhos */
}

.p-projeto-card-text, .p-projeto-card-img {
  flex: 1; /* Faz com que ambos ocupem a mesma proporção do espaço */
  padding: 10px; /* Espaçamento interno */
}

.p-img-projeto {
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.5s ease-in-out; 
}

/* Estilos para dispositivos com tela menor que 768 pixels */
@media (max-width: 968px) {
  .p-projeto-card {
      flex-direction: column; /* Muda para layout em coluna */
  }

  .p-projeto-card-text, .p-projeto-card-img {
      width: 100%; /* Ocupa toda a largura disponível */
  }
}

.img-projeto {
  width: 100%;
  height: auto;
  border-radius: 15px;
  transition: transform 0.5s ease-in-out; 
}

.img-projeto:hover {
  transform: scale(1.05); 
}


/* Final do index*/

.button{
  
  width: 100%;
  height: auto;
  text-align: center;
  
}

.button a{
  text-decoration: none;
  display: inline-block; /* Altere para "block" para ocupar toda a largura da div */
  padding: 10px 20px; /* Espaçamento interno do botão */
  border-radius: 10px;
  border: 2px solid #ccc;
  background: transparent; /* Remove o fundo */
  color: #000;
  font-family: "Verdana", sans-serif;
  font-size: 16px; /* Tamanho de fonte mantido */
  margin: 0 var(--gap); /* Espaçamento horizontal mantido */
  font-weight: bold;
  transition: background-color 0.6s ease, color 0.6s ease, border-color 0.6s ease; /* Aumenta o tempo de transição e suaviza */

}

.button a:hover {
  background-color: #000; /* Altera o fundo para azul quando o mouse passa sobre */
  color: #000; /* Altera a cor do texto para branco */
  border-color: #ccc; /* Altera a cor da borda para azul */
}


/* Areas de atuação */

.area-description{
  margin-top: 30px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 20px;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: all 0.3s ease-in-out;
  width: 30%;
  max-width: 350px;
  margin-bottom: 20px;
  border-radius: 10px; /* Bordas arredondadas */
  background: linear-gradient(145deg, #e6e6e6, #fff); /* Gradiente de fundo */
  padding: 10px 20px;
  text-align: center;
}

.card p:last-of-type {
  transition: background-color 0.3s ease-in-out; 
}

.card:hover p:last-of-type {
  font-weight: bold;
}


.card:hover {
  box-shadow: 0 10px 20px 0 rgba(0,0,0,0.4);
  transform: scale(1.05);
  background: linear-gradient(145deg, #f8f8f8, #fff); /* Fundo mais claro no hover */
}

.card:hover h3 {
  color: #007bff; /* Cor do título muda no hover */
}

p{
  color: #000;
}

h3 {
  color: #000; /* Cor do título */
  margin-bottom: 10px;
}


@media (max-width: 1050px) {
  .card {
      width: calc(50% - 20px);
  }
}

@media (max-width: 800px) {
  
  .card {
      max-width: 100%;
      width: 100%;
  }
}


